{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}


{% block content %}
  <main>
    <div class="container">
      <h1>Create Account</h1>

      <form action="/register" method="POST">
        <label>Full Name</label>
        <input type="text" name="username" placeholder="Enter your full name" required>

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Create a password" required>

        <button type="submit">Register</button>

        <p class="links">
          <a href="/login">Already have an account? Login</a> |
          <a href="/">Home</a>
        </p>
      </form>
    </div>
  </main>
{% endblock %}
